* {
    /* border: solid 2px red; */
    background-color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

/* body {
    height: 650px;
    width: 100%;
    position: relative;
    z-index: 1;
    
} */

img {
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 1;
}
/* 
iframe {
    width: 99%;
    height: 105%;
} */
nav {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 1%;
    background-color: transparent;
    border-bottom: solid 2px #F1C40F;
    list-style-type: none;
    margin: -8px 0px 0px 0px;
    padding: 35px;
    overflow: hidden;
    font-weight: 120%;
}
ul {



}
.lonnie {
    font-family: 'Comfortaa', cursive;
    font-family: 'Rock Salt', cursive;
    font-size: 16px;
    color: #2E4053;
    background-color: #F1C40F;
    position: absolute;
    left: 10%;
    top: 20%;
    display: block;
    padding: 8px;
    margin: -5px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%; */
}

li {
    position: absolute;
    right: 10%;
    top: 10%;
    display: inline;
    float: right;
    position: relative;
    opacity: .8;
    
    
    /* background-color: #2E4053; */
    
}


 li a {
    
    display: block;
    padding: 10px; 
    color: #F1C40F;
    text-align: center;
    text-decoration: none;
    background-color: #2E4053;
    
}

li a:hover {
    background-color: #F1C40F;
    color: #2E4053;
}

.active {
    background-color: #F1C40F;
    color: #2E4053;
}

.portfolio {
    background-color: #2E4053;
    opacity: 0.95;
    margin: 1% 10% 36% 25%;
    padding: 5%;
    position: absolute;
    top: 30%;
    z-index: 2;
    width: 50%;

}

.icons {
    background-color: #2E4053;

} 

.box {
    position: relative;
    bottom: 10%;
    left: 10%;
    display: inline-block;
    width: 120px;
}

.icon {
    background-color: #2E4053;
}

.icon ion-icon {
    color: #F1C40F;
    font-size: 80px;
    display: block;
    text-align: center;
    cursor: pointer;
    background-color: #2E4053;

}
.icon span {
    position: relative;
    width: 120px;
    background: #F1C40F;
    color: #2E4053;
    padding: 5px 0;
    text-align: center;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    opacity: 0;
    transition: 0.6s opacity;
}

.icon span:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
    background: #F1C40F;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.icon:hover > span{
    opacity: 1;
}



h1 {
    background-color: #2E4053;
    text-align: left;
    color: #F1C40F;

}
hr {
    
}
p {
    color: #F1C40F;
    background-color: #2E4053;

}

.content img {
    margin: 2%;
    height:  250px;
    width: 200px;
    border-radius: 30%;
    display: inline;
    float: left;
}

footer {
    background-color: black;
    width: 100%;
    height: 250px;
    color: #F1C40F;
    position: relative;
    top: 356px;
    text-align: center;
    padding: 10% 0% 0% 0%;
}